<!-- ==================== NAVIGATION ====================-->
<!-- ==================== NAV BAR ====================-->

<mat-toolbar color="primary" class="navbar">
  <div >CodEvolution</div>
  <div>
    <span class="navSpan">Home</span>
    <span class="navSpan">About</span>
    <span class="navSpan">Services</span>
  </div>
</mat-toolbar>

 <!-- ==================== MAT GRID LIST===================-->

 <div>
  <mat-grid-list cols="2" rowHeight="fit" style="height: 200px;" gutterSize="10px">
    <!-- <mat-grid-tile rowspan="2">Tile 1</mat-grid-tile> -->
    <!-- <mat-grid-tile colspan="2">Tile 1</mat-grid-tile> -->
    <mat-grid-tile >Tile 1</mat-grid-tile>
    <mat-grid-tile>Tile 2</mat-grid-tile>
    <mat-grid-tile>Tile 3</mat-grid-tile>
    <mat-grid-tile>Tile 4</mat-grid-tile>
  </mat-grid-list>

</div>

<!-- ==================== SIDE NAV BAR ====================-->
<!-- NOTES: modes for sidenav: over, push, side -->
<mat-sidenav-container>
  <mat-sidenav #sidenav (opened)="log('Opened')" (closed)="log('Closed')"mode="side" [(opened)]="opened">Side Content</mat-sidenav>
  <mat-sidenav-content>
    <div>
      Side Content
      <button mat-raised-button  (click)="sidenav.open()">Open</button>
      <button mat-raised-button  (click)="sidenav.close()">Close</button>
      <button mat-raised-button  (click)="sidenav.toggle()">Toggle</button>
    </div>
    <!-- ==================== MAT MENU ====================-->
    <!-- NOTES: options xPosition="after, before" yPosition="above, below" -->
    <div>
      <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
        <button mat-menu-item [mat-menu-trigger-for]="subMenu"> FrontEnd</button>
        <button mat-menu-item>Backend</button>
      </mat-menu>

      <button mat-raised-button [mat-menu-trigger-for]="appMenu" > Menu</button>
    </div>
    <!-- ==================== MAT MENU NESTED====================-->
    <div>
      <mat-menu #subMenu="matMenu">
        <button mat-menu-item> Angular</button>
        <button mat-menu-item>React</button>
        <button mat-menu-item>Vue</button>
      </mat-menu>
    </div>
    <!-- ==================== MAT MENU LAZY/REACTIVE====================-->
    <div>
      <mat-menu #lazyMenu="matMenu" >
        <ng-template matMenuContent let-name="name" let-hobby="hobby">

          <button mat-menu-item> Settings {{name}}</button>
          <button mat-menu-item> Logout {{name}}</button>
          <button mat-menu-item> Hobby is {{hobby}}</button>
        </ng-template>
      </mat-menu>

      <button mat-raised-button [matMenuTriggerData]="{name: 'Vishwas', hobby: 'football' }" [mat-menu-trigger-for]="lazyMenu" > LM Button 1 </button>
      <button mat-raised-button [matMenuTriggerData]="{name: 'CodEvolution', hobby: 'teaching' }" [mat-menu-trigger-for]="lazyMenu" > LM Button 2</button>
    </div>
    <!-- ==================== MAT LISTS====================-->
    <div>
      <mat-list dense>
        <mat-list-item >Item 1 DENSE Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro dolorem vero odit
          ipsam magni autem suscipit, tempore sed deserunt laudantium saepe aliquid ab voluptatum impedit
          possimus pariatur aspernatur rerum repudiandae.
        </mat-list-item>
        <mat-list-item>Item 2</mat-list-item>

      </mat-list>
      <mat-list >
        <mat-list-item>Item 1</mat-list-item>
        <mat-list-item>Item 2</mat-list-item>
      </mat-list>
      <!-- ==================== MAT LISTS W/ICONS====================-->
      <mat-list >
        <mat-list-item>
          <mat-icon matListIcon>home</mat-icon>
          <h3 matLine> Heading</h3>
          <p matLine> this is a matLine paragraph</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon matListIcon>folder</mat-icon>
          <h3 matLine> Folder</h3>
          <p matLine> this is a folder </p>
        </mat-list-item>

      </mat-list>

      <!-- ==================== MAT LISTS NAV====================-->
      <mat-nav-list>
        <a mat-list-item href="#">Home</a>
        <a mat-list-item href="#">About</a>
        <a mat-list-item href="#">Services</a>
      </mat-nav-list>
    </div>



  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Initial method to toggle sidebar -->
<!-- <button mat-raised-button  (click)="opened=!opened">Sidenav</button> -->

<!-- ==================== BUTTONS ====================-->
<div id="buttons">
  <!-- NOTES: -->
  <div>
    <button mat-button color="primary"> Button</button>
    <button mat-raised-button color="primary"> Raised</button>
    <button mat-flat-button color="primary"> Flat </button>
    <button mat-stroked-button color="primary"> Stroked </button>
  </div>

  <div>
    <button mat-icon-button color="accent"> Icon</button>
    <button mat-fab > Fab</button>
    <button mat-mini-fab> Mini</button>
  </div>

  <div>
    <button mat-button color="primary"> Primary</button>
  <button mat-button color="warn" disableRipple> Warn</button>   <!-- RIPPLE DISABLED -->
    <button mat-button color="accent"> Accent</button>
  </div>

  <div>
    <button mat-raised-button color="primary"> Primary</button>
    <button mat-raised-button color="warn"> Warn</button>
    <button mat-raised-button color="accent"> Accent</button>
  </div>

  <h3>Icon Buttons</h3>
  <div class="example-button-row">
    <button mat-icon-button>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button color="warn">
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
    <button mat-icon-button disabled>
      <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
    </button>
  </div>
</div>


<!-- ==================== BUTTON TOGGLE ====================-->
<div id="button-toggle">
  <!-- NOTES: has no color option, -->
  <div>

    <mat-button-toggle #toggleBtn >Toggle</mat-button-toggle>
    {{ toggleBtn.checked}}

  </div>

  <!-- NOTES: value attr is feeding group.value to reactivly change selected option when toggled -->
  <mat-button-toggle-group #group="matButtonToggleGroup">
    <mat-button-toggle value="left">
                Left
    </mat-button-toggle>
    <mat-button-toggle value="center">
                Center
    </mat-button-toggle>
    <mat-button-toggle value="right">
                Right
    </mat-button-toggle>
    <mat-button-toggle value="justify" disabled>
                Disabled
    </mat-button-toggle>
  </mat-button-toggle-group>
  <div class="example-selected-value">Selected value: {{group.value}}</div>
</div>

<!-- ==================== ICONS ====================-->

<div>
  <!-- NOTES: https://fonts.google.com/icons?selected=Material+Icons -->
  <mat-icon color="primary">thumb_up</mat-icon>
</div>

<!-- ==================== BADGES ====================-->

<div>

  <!-- badge position -->
  <div class="badge"> <!-- bound mat-badge to notifications in .ts file -->
    <span [matBadge]="notifications" [matBadgeHidden]="notifications === 0">Notifications Default</span>
  </div>
  <div class="badge">
    <span matBadge="5" matBadgePosition="below before">below before</span>
  </div>
  <div class="badge">
    <span matBadge="5" matBadgePosition="below after">below after</span>
  </div>
  <div class="badge">
    <span matBadge="5" matBadgePosition="above before">above before</span>
  </div>

  <div class="badge">
    <span matBadge="5" matBadgePosition="above after">above after</span>
  </div>

  <!-- badge size -->
  <div class="badge">
    <span matBadge="5" matBadgeSize="small">Notifications Small</span>
  </div>
  <div class="badge">
    <span matBadge="5" matBadgeSize="medium">Notifications Medium</span>
  </div>
  <div class="badge">
    <span matBadge="5" matBadgeSize="large">Notifications Large</span>
  </div>

  <!-- badge color/ overlap-->
  <!-- Notes: overlap icons, do not overlap text -->
  <div class="badge">
    <span matBadge="5" matBadgeColor="primary"  matBadgeOverlap="false">Primary Badge</span>
  </div>
  <div class="badge">
    <span matBadge="5" matBadgeColor="accent"  matBadgeOverlap="false">Accent Badge</span>
  </div>
  <div class="badge">
    <span matBadge="5"  matBadgeColor="warn"  matBadgeOverlap="false">Warn Badge</span>
  </div>

</div>

<!-- ==================== Spinner ====================-->

<div>
  <!-- NOTES: value number displays percent -->
  <div>
    <mat-progress-spinner value="40"></mat-progress-spinner>
    <mat-spinner *ngIf="showSpinner"></mat-spinner>
    <button mat-raised-button color="primary" (click)="loadData()">Load Data</button>
  </div>
</div>
<!-- ==================== TYPOGRAPHY ====================-->

<!-- NOTES:  -->
<div id="typography">
  <div class="mat-display-4">mat-display-4</div>
  <div class="mat-display-3">mat-display-3</div>
  <div class="mat-display-2">mat-display-2</div>
  <div class="mat-display-1">mat-display-1</div>

  <div class="mat-headline">This is for h1</div>
  <div class="mat-title">This is for h2</div>
  <div class="mat-subheading-2">This is for h3</div>
  <div class="mat-subheading-1">This is for h4</div>

  <div class="mat-body-1">This is for body text</div>
  <div class="mat-body-2">This is for bold body text</div>
  <div class="mat-caption">This is for captions</div>

  <div class="mat-typography">

    <h1 >mat-display-4</h1>
    <h2 >mat-display-3</h2>
    <h3 >mat-display-2</h3>
    <h4 >mat-display-1</h4>
  </div>
</div>



